@model IEnumerable<MVCFrontEnd.Models.SuperHero>

@{
    ViewData["Title"] = "Super Heroes";
}
@*@section time{
    <h4>@DateTime.Now</h4>
}*@
<h1>All Super Heroes</h1>
<partial name="_TimePartial" />
<p>
    <a asp-action="Create">Create New Super Hero</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Alias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HideOut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Alias)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RealName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HideOut)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
